.collapseTable-container {
  width: 100%;
  background-color: #ffffff;
  padding: 32px 36px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  align-items: center;
}

.containerTitle {
  display: grid;
  row-gap: 30px;
  padding: 18px 33px;
}

.collapseTable-title {
  padding: 18px 30px;
  font-weight: 400;
  font-size: 16px;
}

.containerArrow {
  justify-self: end;
  padding: 0 33px;
}
.containerTitle {
  display: grid;
  row-gap: 30px;
  padding: 30px 33px;
}
.contentTitle {
  display: grid;
  padding: 0px 0px 30px 0;
  color: #a5a5a5;
  font-weight: 400;
  font-size: 12px;
}

.contentData {
  font-weight: 400;
  font-size: 12px;
  color: #222222;
}

.containerArrow {
  justify-self: end;
  padding: 0 33px;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.collapseTable--open {
  transform-origin: top;
  transform: scaleY(1);
  visibility: visible;
}
.collapseTable--hidden {
  transform-origin: top;
  transform: scaleY(0);
  visibility: hidden;
}
