@import "../styles/variable.scss";

// Tags
h1 {
  font-size: 42px;
  margin-bottom: 38px;
  color: $titleTextColor;
}

h4 {
  font-size: 24px;
  margin-bottom: 20px;
  color: $titleTextColor;
}

a {
  text-decoration: none;
  color: $sidebartextColor;
}

b {
  font-weight: 500;
}
// end of Tags

// Basic Classes
.action-icon {
  cursor: pointer;
}

.minWidth-full {
  min-width: 1040px;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}
// end of Basic Classes

// Flexbox
.flex-direction-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}
// end of Flexbox

// Spacing
.w-100 {
  width: 100%;
}

.w-100vw {
  width: 100vw;
}

.mr-10 {
  margin-right: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.width-50px {
}
// end of Spacing

// Transitions
.transformRotate {
  transition: all 0.25s ease-in-out;
  transform: rotate(-180deg);
  &.out {
    transform: rotate(0deg);
  }
}

.basicTransition {
  transition: all 0.25s ease-in-out;
}
.fastTransition {
  transition: all 0.15s ease-in-out;
}
.slowTransition {
  transition: all 0.35s ease-in-out;
}
// end of Transitions

// Main Page
.mainPageStyle {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 48px;
  width: 100%;
}
// end of Main Page
