$sidebarWidth: 300px;
$sidebarBackgroundColor: #fff;
$sidebartextColor: #222;
$titleTextColor: #222;

// Button Component Variables
$buttonColor: #df762b;
$buttonHoverColor: #df762ba5;
$buttonActiveColor: #a54f11cd;
$buttonSmall: 10px;
$buttonMedium: 15px;
$buttonLarge: 15px 40px;
$buttonFontSmall: 1rem;
$buttonFontMedium: 1.5rem;
$buttonFontLarge: 2rem;
